*{
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
    scroll-behavior: smooth;
}

label, 
button{
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}