@import 'reset';
@import 'variables';


/* SCROLL BAR */
::-webkit-scrollbar{
    display: none;
}

pre{
    color: $white-ice;
}

h1{
    color: $white-ice;
    font-size: 1.5rem;
    font-weight: 700;
}

h2{
    color: $section-title;
    font-size: 1rem;
    font-weight: 100;
    margin: 20px 0;

&:before{
        content: '';
        width: 50px;
        height: 1px;
        background-color: #c567ff;
        display: inline-block;
        margin-bottom: 4px;
    }
}

p{
    color: $gray;
}

body{
    background-color: $body-background;
}

@mixin flexAlignCenter ($flex-direction){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $flex-direction;
}

.whatsapp-button{
    @include flexAlignCenter(column);
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #61C963;
    border-radius: 50px;
    font-size: 30px;
    z-index: 5;
}

/* HEADER / MENU */
header{
    height: 95vh;
    max-width: initial;

    #checkbox{
        display: none;
    }
    .lbl-check{
        position: absolute;
        top: 2%;
        right: 8%;
        color: $white-ice;
        font-size: 30px;
        user-select: none;
        z-index: 100;
    }
    .nav-menu{
        z-index: 10;

        ul{
            @include flexAlignCenter(column);
            background: linear-gradient(#1e0220, #350238);
            padding: 20px 0px 30px 0;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            transition: 0.4s ease;
        }

        
        li{
            padding: 15px 0;

            a{
                color: $section-title;
                
                &:hover{
                    text-shadow: 0px 0px 5px #b949ff;
                    color: #d99dff;
                }
            }
        }
        .btn-resume{
            border: 1px solid $btn-resume-purple;
            width: 120px;
            margin-top: 10px;
            padding: 5px 10px;
            position: relative;
            text-align: center;
            color: #b949ff;
            transition: 0.3s;
            
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 0%;
                background-color: $btn-resume-purple;
                z-index: -1;
                transition: 0.3s;
            }
            
            &:hover{
                color: #FFF !important;
                &::after{
                    height: 100%;
                    box-shadow: 0px 0px 10px $btn-resume-purple;
                }
            }
        }

    }

    #checkbox:checked ~ nav ul {
        left: 0;
    }

    .conteiner{
        @include flexAlignCenter(column);
        margin-top: 10vh;
        
        .header-text{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            padding: 5%;

            p{
               color: $gray;
               margin-top: 7px;
               width: 320px;
           }

           span{
                color: #4ce100;
                font-size: 1.5rem;
                font-weight: map-get($font-weight, medium);
           }
        }

        .wrapper-img{
            position: relative;
            margin-top: 50px;
            border: 2px solid #c567ff;
            width: 250px;
            height: 265px;

            .img-profile{
                position: absolute;
                top: -20px;
                left: -20px;
                box-shadow: 5px 5px 10px rgb(0 ,0 ,0, 0.3)
            }
            
        }
        
    }

}

main{
    .section{
        text-align: justify;
        padding: 0 3%;
        margin-bottom: 120px;
    }

    .sobre{
        @include flexAlignCenter(column);

        .key{
            color: #4ce100;
        }
    }

    .conhecimentos{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;

        h2{
            width: 100%;
        }

        .card{
            @include flexAlignCenter(column);
            position: relative;
            border-radius: 10px;
            width: 40%;
            height: 100px;
            backdrop-filter: blur(5px);
            margin: 10px 0px;
            border: 1px solid $section-title;
            background-color: #c567ff14;
            z-index: -1;

            i{
                font-size: 2.3em;
                color: #ddd;

            }

            .label-brand{
                width: 70px;
                text-align: center;
                position: absolute;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ddddddf0;
                font-size: 0.8em;
                padding: 2px 10px;
            }
        }
    }

    .wrapper-project{
        width: 100%;
        display: flex;
        flex-flow: wrap; 
        flex-direction: row;  
        justify-content: center;
        align-items: center;

        .card-project{
            position: relative;
            width: 500px;
            height: auto;
            overflow: hidden;

            .overlay{
                position: absolute;
                top: 0%;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(#2c2a2c61, #49226e8f);
            }

            img{
                width: 100%;
            }

            .icon-share{
                position: absolute;
                bottom: 6%;
                right: 2%;
                color: #ffffffd6;
                padding: 2px 6px;
                border-radius: 50px;
                border: 2px solid #ffffffd6;
                
                .fa-share{
                    font-size: 13px;
                }
            }
        }
    }
    .wrapper-contacts{
        width: 100%;
        display: flex;
        flex-flow: wrap;   
        justify-content: center;
        margin-top: 20px;

        .contact{
            @include flexAlignCenter(column);
            position: relative;
            height: 100px;
            width: 120px;
            border-radius: 10px;
            margin: 10px;
            text-decoration: none;
            background-color: $body-background;
            box-shadow: -5px -5px 5px #16151585 inset;
            overflow: hidden;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.425);
            font-size: 1.2em;

            p{
                margin-bottom: 5px;
            }

            &:before{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 0%;
                height: 2px;
                background-color: #61C963;
                box-shadow: 5px 5px 30px #61C963;
                transition: 0.5s ease;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
}

footer{
    padding: 30px 0;
    @include flexAlignCenter(column);

    p,a{
        text-align: center;
        color: rgba(255, 255, 255, 0.425);
        user-select: none;
        text-decoration: none;
    }
    a:hover{
        color: #4ce100;
    }
}
